<h1>
  <%= @listing.title %>
</h1>

<h4>
  <strong>Description:</strong>
  <%= @listing.description %>
</h4>

<% if @listing.price %>
  <h4>
    <strong>Price:</strong>
    <%= number_to_currency(@listing.price) %>
  </h4>
<% end %>

<% if current_user.id == @listing.user_id %>
	<%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-default' %>
	<%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
