<h1>
  <%= @listing.title %>
</h1>

<% if @listing.price %>
  <h4>
    <strong>Price:</strong>
    <%= number_to_currency(@listing.price) %>
  </h4>
<% end %>

<% if @listing.image %>
  <%= image_tag(@listing.image, :class => "img-responsive") %>
<% end %>

<h4>
  <strong>Description:</strong>
</h4>
<p><%= @listing.description %></p>




<% if current_user %>
<% if current_user.id == @listing.user_id || current_user.admin? %>
	<%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-default' %>
	<%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>
<% end %>